*{
	margin:0px;
	padding:0px;
}
h1,h2,h3,h4,h5,h6,span,p{
	font-size:12px;
	font-family:arial;
	font-weight:100;
}
nav ul li{
	list-style:none;
}
a{
	text-decoration:none;
	font-size:12px;
	color:#20201E;
}
hr{
	width:100%;
	opacity:.5;
}
input,textarea{
	padding:5px;
	border:1px solid #DBDBDB;
	border-radius:5px;
	font-size:12px;
}
article,aside,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}
header{
	width:100%;
	height:45px;
	background-color:#FF0F2F;
	box-shadow: 5px 5px 10px rgb(182, 182, 182);
}
.navegador_header a{
	color:white;
	font-family:arial;
}
.navegador_header i{
	font-weight:100;
}
